@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "ListRoles";
}

<h1>All roles</h1>


@if (Model.Any())
{
    <a asp-action="createrole" asp-controller="Administration">Create New Role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5>@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" method="post">

                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a> |

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are You Sure you Want to Delete</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id',false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id',true)">Delete</a>
                    </span>

                </form>
            </div>
        </div>
    }
}

else
{
    <div class="card">
        <div class="card-header">
            No Roles Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a asp-action="createrole" asp-controller="Administration">Create New Role</a>
        </div>
    </div>
}


@section Scripts{

    <script src="~/js/site.js"></script>
}